RewriteOptions inherit
RewriteEngine On
RewriteRule ^\.well-known\/acme-challenge\/ - [L]
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<IfModule mod_headers.c>
    Header always set Content-Security-Policy "upgrade-insecure-requests;"
</IfModule>
#Redirección de rutas .html a .php#
#RewriteRule ^(.*)\.html$ /$1.php [R=301,L]#
#redirección en servidor local#
RewriteRule ^(.*)\.html$ /qualitasplaza.com/$1.php [R=301,L]
